/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
body{
    margin: 0; padding: 0;
    background-color: white;
}
header img {
    max-width: 30%;

}
//*NAV style*//
nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

h1{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size:2m;
    color: white;
    letter-spacing: 1.6px;    
}

h2{
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;    
}

ul{
 display:flex;
 justify-content: flex-end;
}

li{
    list-style: none;
    margin-right: 1em;
    margin-top: 2em;
    font-family:sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height:auto;
}

p {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

section {
    position:relative;
    width:100%;
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    position:absolute;
    top: 43%;
    color: white;
    font-size: 0.8em;
    width:25em;
    overflow:hidden;
}
section h2{
    position: absolute;
    font-size: .8em;
    letter-spacing: 1.6px;
    top:20%;
    color:#fc7170;
    text-transform: uppercase;
    font-weight: 600;
}
section button{
    position: absolute;
    top:75%;
    left: 50%;
    transform:translate(-50%,-50%);
    border:none;
    padding: 1.775em 2.3125em 1.775em 2.3125em;
    font-family: sans-serif;
    font-size: .5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.078125em;
    color: white;
    border-radius: 6.25em;
    background-color:#fc7170; 
    cursor:pointer;
    box-sizing: border-box;
}
section button:hover{
    padding: 1.775em 3em 1.775em 3em;
    transition-duration: 0.5s;
    transition-delay: 0.2s o.2s;
}
